Repository aws-deadline/deadline-cloud, pull requests merged in 2025-02, with the labels that each got.

#586 feat(cli): Add --output option to config show to support json
  README.md
  src/deadline/client/cli/_groups/config_group.py
  test/unit/deadline_client/cli/test_cli_config.py
Labels: enhancement

#601 chore: fix pyversion badges
  pyproject.toml
Labels: documentation

#547 feat: allow windows long paths during manifest snapshot, manifest upload, and download
  src/deadline/client/cli/_groups/job_group.py
  src/deadline/client/cli/_groups/manifest_group.py
  src/deadline/job_attachments/_utils.py
  src/deadline/job_attachments/api/manifest.py
  src/deadline/job_attachments/download.py
  test/integ/cli/test_cli_manifest_snapshot.py
  test/integ/cli/test_cli_manifest_upload.py
  test/integ/deadline_job_attachments/test_job_attachments.py
  test/unit/deadline_job_attachments/test_download.py
Labels: job attachments, waiting-on-maintainers

#609 chore: add maintenance label to maintenance GitHub template
  .github/ISSUE_TEMPLATE/maintenance.yml
Labels: maintenance
